In [1]:
#Pandas

import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.arange(0,10).reshape(5,2), index=['r1','r2','r3','r4','r5'],columns=['c1','c2'])
df.head()

    c1  c2
r1   0   1
r2   2   3
r3   4   5
r4   6   7
r5   8   9

In [3]:
df.to_csv('Pandas.csv')

In [4]:
df.loc['r1']

c1    0
c2    1
Name: r1, dtype: int32

In [5]:
type(df.loc['r1'])

pandas.core.series.Series

In [6]:
df.iloc[0:3,:2]

    c1  c2
r1   0   1
r2   2   3
r3   4   5

In [7]:
type(df.iloc[0:3,:2])

pandas.core.frame.DataFrame

In [8]:
df.iloc[0:3,:2]

    c1  c2
r1   0   1
r2   2   3
r3   4   5

In [9]:
#covert data frame to array
df.iloc[:,:].values

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [10]:
df.iloc[:,:].values.shape

(5, 2)

In [11]:
df.isnull().sum()

c1    0
c2    0
dtype: int64

In [12]:
df['c1'].value_counts()

c1
0    1
2    1
4    1
6    1
8    1
Name: count, dtype: int64

In [13]:
df['c1'].unique()

array([0, 2, 4, 6, 8])