In [ ]:
import pandas as pd
data = pd.read_csv('E:/temps.csv')
data.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [ ]:
data.shape

(348, 12)

In [ ]:
data.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [ ]:
data=pd.get_dummies(data,columns=["week"])
data.dtypes

year                int64
month               int64
day                 int64
temp_2              int64
temp_1              int64
average           float64
actual              int64
forecast_noaa       int64
forecast_acc        int64
forecast_under      int64
friend              int64
week_Fri            uint8
week_Mon            uint8
week_Sat            uint8
week_Sun            uint8
week_Thurs          uint8
week_Tues           uint8
week_Wed            uint8
dtype: object

In [ ]:
import numpy as np
labels = data["actual"]

In [ ]:
features=data.drop(["actual"],axis=1)

features.dtypes

year                int64
month               int64
day                 int64
temp_2              int64
temp_1              int64
average           float64
forecast_noaa       int64
forecast_acc        int64
forecast_under      int64
friend              int64
week_Fri            uint8
week_Mon            uint8
week_Sat            uint8
week_Sun            uint8
week_Thurs          uint8
week_Tues           uint8
week_Wed            uint8
dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 100)

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)

Training Features Shape: (261, 17)
Training Labels Shape: (261,)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 100)
# Train the model on training data
rf.fit(train_features, train_labels);

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
predictions

array([65.293, 64.912, 44.392, 56.707, 60.253, 47.014, 61.538, 53.885,
       57.506, 76.458, 43.609, 76.945, 81.368, 72.426, 54.821, 41.894,
       56.566, 60.883, 69.36 , 77.89 , 53.505, 63.271, 56.71 , 56.748,
       69.601, 56.155, 54.201, 76.044, 71.073, 77.099, 71.737, 70.924,
       51.256, 42.423, 67.83 , 75.782, 74.617, 73.393, 51.427, 51.156,
       71.645, 84.538, 76.132, 48.471, 63.968, 40.723, 62.575, 48.148,
       75.958, 61.995, 55.864, 84.029, 42.176, 58.696, 80.988, 73.831,
       51.211, 44.733, 38.518, 61.859, 70.534, 55.512, 74.11 , 45.298,
       43.146, 49.773, 76.107, 71.422, 55.473, 75.224, 70.242, 62.786,
       50.049, 69.065, 51.168, 73.951, 66.527, 60.245, 63.408, 76.233,
       70.327, 46.952, 62.769, 51.419, 69.059, 77.323, 57.185])

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)

In [ ]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
mape.head()

263    2.020313
264    4.541176
7      7.516667
46     6.994340
84     7.594643
Name: actual, dtype: float64

In [ ]:
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 3), '%.')

Accuracy: 93.903 %.